<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">

    <form>
      Username by email:<br>
      <input type="text" [(ngModel)]="userpwd.username" id="login" class="fadeIn second" name="id" placeholder="id">
      User password:<br>
      <input type="text"[(ngModel)]="userpwd.pwd" id="password" class="fadeIn third" name="login" placeholder="password">
      <!--<input type="submit" class="fadeIn fourth" value="Log In">
      -->
      Birthdate:<br>
      <input type="date"[(ngModel)]="userobj.userbirthdate">
      Age:<br>
      <input type="number"[(ngModel)]="userobj.userage">

      <button class="log_but" value="Login" id="login" (click)="loginfunc()"> submit </button>

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>